<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->


    <bean id="petrolEngine" class="org.example.PetrolEngine" autowire-candidate="false"/>
    <bean id="dieselEngine" class="org.example.DieselEngine"/>

<!--    yaha par 2 engine h petrol and diesel so car confused ho gaya ki kyun sa use karu-->
<!--    this problem is called ambiguity problem-->
<!--    to solve this problem kisi ek candidate ko false karna padega-->

    <!--    Autowiring ByType  -->
    <bean id="car" class="org.example.Car" autowire="byType"/>

</beans>