<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <bean id="engine" class="org.example.Engine"/>

    <!--    Autowiring ByName  -->
    <bean id="carByName" class="org.example.CarByName" autowire="byName"/>

    <!--    Autowiring ByType  -->
    <bean id="carByType" class="org.example.CarByType" autowire="byType"/>

    <!--    Autowiring ByType  -->
    <bean id="carByConstructor" class="org.example.CarByConstructor" autowire="constructor"/>

</beans>