<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->

    <bean id ="petrolEngine" class="org.example.PetrolEngine"/>
    <bean id ="dieselEngine" class="org.example.DieselEngine"/>

    <bean id ="car" class="org.example.Car">

<!--        1. Constructor injection ka use-->
<!--            <constructor-arg ref="dieselEngine"/>-->

<!--         2.Setter injection ka use-->
                 <property name="engine" ref="petrolEngine"/>

<!--        If ager dono rakhte h then pahle constructor chalega according to java -->
<!--        But execute petrol Engine hoga kyuki Setter usko override kar dega  -->
    </bean>

</beans>